<ion-view view-title="{{'home' | translate}}" id="HomeContent">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="vm.onRefresh()">
        </ion-refresher>
        <div class="item">
            <span class="title">{{'my_credits' | translate}} </span>:
            <span class="content">{{vm.myCredit}}</span>
        </div>
        <div ng-show="vm.isLoaded" class="list animate-fade-slide-in-right">
            <h5 class="item title waves-effect waves-button waves-dark in done">{{'my_last_files' | translate}}:</h5>
            <div ng-repeat="file in vm.files | orderBy: 'date':true | limitTo:4" class="fileItem" ng-switch on="file.type" on-tap="vm.openFile(file.url)">
                <a class="item item-avatar item-icon-right waves-effect waves-button waves-dark in done" style="transition-delay: 0.51s;">
                    <img ng-switch-when="pdf" src="img/filePDF.jpg">
                    <img ng-switch-when="txt" src="img/txtFile.png">
                    <img ng-switch-when="doc" src="img/wordFile.png">
                    <img ng-switch-when="docx" src="img/wordFile.png">
                    <img ng-switch-when="html" src="img/htmlFile.png">
                    <img ng-switch-default src="img/imageFile.png">
                    <h2>{{file.name}}</h2>
                    <p>{{file.date | date }}</p>
                </a>
                <i class="fa fa-external-link" aria-hidden="true"></i>
            </div>
        </div>
        <div class="button-container">
            <button class="button icon-left button-orange" ng-click="vm.scanBarcode()">
                <i class="icon-scanQR fa fa-qrcode" aria-hidden="true"></i> Scan Printer
            </button>
        </div>
        <img id="adImage" ng-src="{{vm.AdvImageSource}}" alt="Adv Image" width="95%" height="165">
    </ion-content>
    <div class="bar bar-footer bar-stable">
        <div>
            <span>V 1.0.0</span><br/>
            <span>Date: June 12, 2017</span>
        </div>

        <span>copyright 2017</span>
    </div>
</ion-view>