<ion-view view-title="{{'my_files' | translate}}">
    <!--<ion-header-bar align-title="center" class="bar bar-header">
        <button type="button" class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        <h1 class="title">Home</h1>
    </ion-header-bar>-->
    <ion-content id="myFileContainer">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="vm.init()">
        </ion-refresher>
        <div ng-show="vm.isLoaded" class="list animate-fade-slide-in-right">
            <div ng-repeat="file in vm.files | orderBy: 'date':true" class="fileItem" ng-switch on="file.type" on-tap="vm.openFile(file.url)">
                <a class="item item-avatar item-icon-right waves-effect waves-button waves-dark in done" style="transition-delay: 0.51s;">
                    <img ng-switch-when="pdf" src="img/filePDF.jpg">
                    <img ng-switch-when="txt" src="img/txtFile.png">
                    <img ng-switch-when="doc" src="img/wordFile.png">
                    <img ng-switch-when="docx" src="img/wordFile.png">
                    <img ng-switch-when="html" src="img/htmlFile.png">
                    <img ng-switch-default src="img/imageFile.png">
                    <h2>{{file.name}}</h2>
                    <p>{{file.date | date }}</p>
                </a>
                <i class="fa fa-external-link" aria-hidden="true"></i>
            </div>
        </div>

    </ion-content>

</ion-view>