<ion-view view-title="{{'settings' | translate}}" id="settingsView">
    <ion-header-bar align-title="center" class="bar bar-header home-header">
        <button type="button" class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
        <h1 class="title">{{'settings' | translate}}</h1>
    </ion-header-bar>

    <ion-content>
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                {{'language' | translate}} :
                </div>
                <select ng-change="vm.changeLanguage(vm.lang)" ng-model="vm.lang">
                <option value="fr">{{'french' | translate}}</option>
                <option value="en" selected>{{'english' | translate}}</option>
                </select>
            </label>
        </div>
    </ion-content>

</ion-view>