<ion-view view-title="{{'share_file' | translate}}">
    <ion-content id="sharingContent">
        <form>
            <div class="form-group">
                <button class="chooseFileButton">{{'choose_file' | translate}}:
                    <input id="chooseFile" type="file" fileread="vm.fileBibary" fileinfo="vm.uploadFileInfo" />
                </button>
                <!--<div id="content">-->
                <!--<a ng-if="vm.url" ng-href="{{vm.url}}" on-tap="vm.openUrl(vm.url)">{{vm.url}}</a>-->
                <!--<img ng-if="vm.src" ng-src="file://localhost/sdcard/Download/20150111_204042.jpg" alt="shared Image"></img>-->
                <!--<a ng-if="vm.src" on-tap="vm.openFile(vm.src)">{{vm.src}}</a>
                    <a ng-if="vm.filePath" on-tap="vm.openFile(vm.filePath)">{{vm.filePath}}</a>-->
                <!--<span ng-if="vm.filePath">{{vm.filePath}}</span>-->
                <!--</div>-->
                <div id="selectFile">
                    <input id="browse" type="file" ng-show="false" fileread="vm.fileBibary" fileinfo="vm.uploadFileInfo"></input>
                    <div id="shareAction">
                        <input type="text" class="fileInfo" disabled="true" value="{{vm.fileName}}"></input>
                        <button on-tap="vm.upLoadFile()" class="btn" ng-disabled="vm.clicked">
                            <i class="fa fa-share-alt" aria-hidden="true"></i>
                        </button>
                    </div>
                    <img ng-if="vm.isImage" ng-src="{{vm.filePath}}" alt="shared Image"></img>
                </div>
            </div>

        </form>
    </ion-content>

</ion-view>