#HomeContent {
    .title {
        font-weight: bold;
    }
    .button-container {
        padding: 20px 10px;
        border-top: 1px solid #e3e3e3;
        button {
            width: 100%;
            font-size: 18px;
        }
    }
    .bar-footer {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
        font-size: 13px;
    }
    #adImage {
        margin: 0px 10px;
    }
}