#sharingContent {
    padding: 15px;
    input {
        border: solid 1px $backgroundColor;
        width: 100%;
    }
    button {
        background: $backgroundColor;
        color: $textColor;
        font-weight: bold;
        margin-bottom: 10px;
    }
    #content {
        img {
            width: 100%;
            height: 300px;
        }
    }
    .chooseFileButton {
        width: 110px;
        border-color: $backgroundColor;
        border-radius: 5px;
        #chooseFile {
            display: block !important;
            width: 125% !important;
            height: 100% !important;
            opacity: 0 !important;
            overflow: hidden !important;
            z-index: 100 !important;
            margin: -27px 0px -7px -10px;
        }
    }
}

#selectFile {
    display: flex;
    flex-direction: column;
    #shareAction {
        display: flex;
        justify-content: space-between;
        .fileInfo {
            color: $backgroundColor;
            padding-left: 10px;
            margin-bottom: 10px;
        }
        button {
            width: 45px;
        }
    }
    img {
        height: 350px;
    }
}