.menu-header {
    background-image: url("../img/material-graphite.jpg");
    background-size: 120%;
    background-position: 0%;
    transition: all .5s ease-in-out;
}

.item-content {
    font-size: 14px;
    font-weight: bold;
}