.button-orange {
    background-color: $backgroundColor;
    color: $textColor;
}

.item-md-label .highlight-energized {
    background: $backgroundColor !important;
}

.my-custom-popup {
    .popup {
        width: 85%;
    }
    .popup-head {
        background-color: $backgroundColor;
    }
    .popup-title {
        color: $textColor;
    }
    // .popup-sub-title{}
    // .popup-body{}
    // .popup-buttons.row{}
    // .popup-buttons .button{}
}

.home-header {
    background-color: $backgroundColor;
    h1 {
        color: $textColor;
    }
}

.content {
    padding: 1rem;
}

.header-item {
    color: $textColor;
}

.fileItem {
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding-right: 20px;
    i {
        font-size: 18px;
        color: $textOrange;
        margin-left: 5px;
    }
}